html{
    height: auto;
    min-height: 100%;
}

body{
    background: linear-gradient(to bottom, #121834, #1B1A36,#0F2D54, #243E6E, #275A72);
}

.header-container{
    padding: 10px;
}

.header-place{
    padding: 0;
    margin: auto auto;
    max-width: 100%;
}


.header-options{
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}

.header-options li{
    font-family: 'Roboto', sans-serif;
    color: orange;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-options li img {
    max-width: 100%;
    max-height: 100px;
    margin: 0 auto;
    display: block;

}

a {
    text-decoration: none;
    color: inherit;
}

.header-options li:hover{
    color: white;
    cursor: pointer;
}

#line{
    color:#FFB703 ;
    background-color: #FFB703;
    width: 90%;
    border: none;
    height: 2px;
    margin: 20px auto;
}

.main-container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

.myPic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.myPic img{
    width: 60%;
    height: 60%;
}

.myBio{
    max-width: 50%;
    padding: 0 20px;
}

.myBio h1{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    color: white;
    font-size: 3em;
    margin-bottom: 10px;
}

.myBio p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

.footer-container{
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}


.social-medias{

    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    align-content: space-around;

}


.social-medias li {

    display: flex;
    justify-content: center;
    align-items: center;


}

.social-medias li img{
    max-width: 100%;
    max-height: 100%;
    margin: 30px;
}

.social-medias li img:hover{
    cursor: pointer;
    height: 50px;
    width: 50px;
}